@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

*,
::before,
::after {
	margin: 0;
	padding: O;
	box-sizing: border-box;
}

header {
	height: 100px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0px 30px;
	box-shadow: 0px 1px 10px #999;
}

.logo-container {
	font-family: 'Roboto', sans-serif;
	margin-left: 5px;
	font-size: 15px;
	color: #2D4059;
	display: inline-flex;
}

.logo-container img {
	width: 50px;
	height: 45px;
	margin: 0px 10px;
}


nav a {
	font-size: 15px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	transform: scale(1);
	transition: 400ms ease-in-out;
	font-family: 'Roboto', sans-serif;
}


.container_navigation {
	font-family: 'Roboto', sans-serif;

}

.container_navigation h2 {
	font-size: 21.7px;
	word-spacing: 3px;
	text-align: end;
	margin-bottom: 20px;
	font-weight: 700;
	font-family: 'Montserrat', sans-serif;
}

.container_navigation span {
	border-radius: 50%;
	font-size: 18px;
	padding: 0 6px;
	margin: 0 25px;
	background: orangered;
	color: rgb(255, 255, 255);
	text-align: center;
}

.container_under_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 2rem;
	grid-gap: 10px;
}

.under_header {
	justify-content: center;
	height: 102px;
	text-align: center;
	background: #2d4059;
	color: white;
	font-size: 30px;
	display: flex;
	align-items: center;
	grid-gap: 0.5rem;
}

.under_header select {
	height: 40px;
	width: 127px;
	border-radius: 7px;
	text-align: center;
}

.under_header button {
	color: white;
	height: 40px;
	width: 127px;
	border-radius: 7px;
	background-color: #EA5455;
	font-family: 'Roboto';
	font-style: normal;
	font-weight: bolder;
	line-height: 18px;
	text-align: center;
	display: inline-block;
	font-size: 16px;
	cursor: pointer;
	border: none;
}

.under_header input[type=search] {
	height: 40px;
	width: 298px;
	border-radius: 7px;
	border: none;

}



.under_nav_right {
	margin: 0 60px;
	font-family: 'Roboto';
	justify-content: center;
	color: white;
	display: flex;
	align-items: center;
	right: 35px;
	position: relative;
}

.under_nav_right a {
	font-size: 15px;
	margin: 0 20px;
}

.under_nav_right img {
	position: relative;
	left: 30px;
}



.under_nav_right span {
	border-radius: 50%;
	font-size: 14px;
	padding: 0 4px;
	font-weight: bold;
	margin: 0 40px;
	background: #E5E5E5;
	color:#EA5455;
	text-align: center;
}

.section_ventes {

}