@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	color: #222222;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 50px;
}

.header {
	background: #1abc9c;
	color: white;
	font-size: 30px;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
}

.nav {
	background-color: #E5E5E5;
	left: 0;
	right: 0;
	top: 0;
	transition: all 0.3s ease-in-out;
}

.nav .container {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	transition: all 0.3s ease-in-out;
}

.nav .options_listes {
	align-items: center;
	display: flex;
	justify-content: center;
	list-style-type: none;
}

.nav .options_listes span {
	border-radius: 50%;
	font-size: 15px;
	width:30px;
	height: 35px;
	padding: 0 5px;
	margin: 0 20px;
	background: orangered;
	color: rgb(255, 255, 255);
	text-align: center;
}

.slogan {
	font-size: 10px
}

.nav a {
	color: #000000;
	padding: 7px 15px;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}

.nav.active {
	background-color: #FFFFFF;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.nav.active a {
	color: #000000;
}

.nav.active .container {
	padding: 10px 0;
}
